.container{
    width: 600px;
    height: 600px;
    background-color: dimgray;
    display: -webkit-box;
}
/*div{*/
    /*display: inline-block;*/
/*}*/
.one{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
.two{
    width: 100px;
    height: 100px;
    background-color: pink;
}
.three{
    width: 100px;
    height: 100px;
    background-color: palegreen;
}
